.sort {
  display: flex;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 1.0625rem;
  border-radius: 6.25rem;
  background: var(--white-color);
  color: rgba(117, 117, 117, 0.7);
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  height: 2.96rem;
  width: 10rem;
}

.dropdown-infra {
  display: flex;
  width: 10rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  border: 1px solid #3d4a7d;
  background: #fff;
  border-radius: 0.9375rem 0.9375rem;
  padding: 0;
}

.dropdown-infra li {
  border-bottom: 1px solid var(--background-color);
  padding: 0.4rem;
}

.dropdown-infra li:last-child {
  border-bottom: 0;
}
.text-infra {
  /* font-family: Noto Sans; */
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
