.sort {
  display: flex;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 1.0625rem;
  border-radius: 6.25rem;
  background: #fff;
  color: rgba(117, 117, 117, 0.7);
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  height: 2.96rem;
  width: 10rem;
}
