.nav {
  background-color: var(--primary-color);
}

.mini-header {
  background-color: var(--normal-gray);
}

.mini-header li {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.mini-header li a {
  color: var(--primary-color);
}

.flag-img {
  width: 0.9rem;
  height: 0.9rem;
}

.ministry-logo img {
  width: 2.5rem;
  height: 2.5rem;
}

.ministry-logo p {
  font-size: 0.6rem;
  margin-bottom: -0.5rem;
}
.ministry-logo span {
  font-size: 0.7rem;
  margin: 0;
}

.vidya-text {
  color: var(--accent-color);
  font-size: 1.2rem;
  font-weight: bold;
}

.vidya-text-wrap {
  margin-right: 2.5rem;
}
.left-nav p {
  margin-bottom: -0.2rem;
}
.left-nav span {
  font-size: 0.6rem;
}

.list li {
  border-right: 1px solid gray;
  padding-right: 1rem;
}
.list li:last-child {
  border: none;
}

.back-nav {
  height: 3.5rem;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  /* justify-content: space-between; */
}
.back-nav svg {
  width: 1.7rem;
  height: 1.7rem;
}

.arr svg {
  width: 3rem;
  height: 3rem;
}

.dwn-btn {
  display: flex;
  padding: 0.625rem 1.8rem;
  justify-content: center;
  align-items: center;
  gap: 0.6875rem;
  border-radius: 6.25rem;
  background: var(--text-color);
  color: var(--white-color);
  text-align: center;
  font-family: Happy Monkey;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.01963rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  .mini-header li {
    flex-direction: column;
    gap: 0.5rem;
  }

  .vidya-text-wrap {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .list li {
    border: none;
    padding: 0;
    margin-bottom: 0.5rem;
  }
}
