.nav {
  background-color: var(--primary-color);
}

.mini-header {
  background-color: var(--normal-gray);
}

.mini-header li {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.mini-header li a {
  color: var(--primary-color);
}

.flag-img {
  width: 0.9rem;
  height: 0.9rem;
}

.ministry-logo img {
  width: 2.5rem;
  height: 2.5rem;
}

.ministry-logo p {
  font-size: 0.6rem;
  margin-bottom: -0.5rem;
}
.ministry-logo span {
  font-size: 0.7rem;
  margin: 0;
}

.vidya-text {
  color: var(--accent-color);
  font-size: 1.2rem;
  font-weight: bold;
}

.vidya-text-wrap {
  margin-right: 2.5rem;
}
.left-nav p {
  margin-bottom: -0.2rem;
}
.left-nav span {
  font-size: 0.6rem;
}

.list li {
  border-right: 1px solid gray;
  padding-right: 1rem;
}
.list li:last-child {
  border: none;
}

.back-nav {
  height: 4rem;
  background-color: var(--white-color);
}
.back-nav svg {
  width: 1.98044rem;
  height: 1.82813rem;
}
@media only screen and (max-width: 600px) {
  .mini-header li {
    flex-direction: column;
    gap: 0.5rem;
  }

  .vidya-text-wrap {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .list li {
    border: none;
    padding: 0;
    margin-bottom: 0.5rem;
  }
}
