.card {
  display: flex;
  width: 13.75rem;
  height: 15.625rem;
  padding: 0.875rem;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.9375rem;
  background: #fff;
}
.card:hover {
  height: auto;
}
.card-title {
  color: var(--text-color);
  font-family: Happy Monkey;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01963rem;
}

.card-description {
  color: var(--text-color);
  font-family: Happy Monkey;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01963rem;
  margin-top: 0.5rem;
}
.card:hover {
  /* min-height: auto; */
}

.card img {
  height: 7.5rem;
}

.view-projects-btn {
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 6.25rem;
  font-size: 0.8rem;
  width: fit-content;
  padding: 0.3rem 1rem;
  margin: 0 auto;
  margin-top: 1.62rem;
}
