<!-- card.component.html -->

<div class="card" (mouseenter)="onCardHover()" (mouseleave)="onCardLeave()">
  <a [routerLink]="link">
    <img class="rounded-t-lg" [src]="imageSrc" alt="" />
  </a>
  <div class="">
    <a [routerLink]="link" class="card-title cursor-pointer">
      {{ title }}
    </a>
    <div *ngIf="active" class="flex flex-col gap-4">
      <a [routerLink]="link">
        <p class="card-description">{{ description }}</p>
      </a>
      <!-- button -->
      <a [routerLink]="link" class="view-projects-btn"> View Projects </a>
    </div>
  </div>
</div>
