.micro-parent {
  background: linear-gradient(
    to left,
    #37678d,
    #4f7c9b,
    #3d5173,
    #495372,
    #5e5e6f,
    #bca868
  );
  /* background-color: black; */
  height: 100vh;
  background-blend-mode: color-dodge;
  /* background-image: url("/src/assets/images/Grain-Texture.png"); */
  font-family: "Happy Monkey", sans-serif;
}
.micro-parent h1 {
  color: #fff;
  text-align: center;
  font-family: Happy Monkey;
  font-size: 3rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01963rem;
}
.micro-parent p {
  color: #fff;
  text-align: center;
  font-family: Happy Monkey;
  font-size: 2rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01963rem;
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}
.main-micro {
  /* margin: 0 auto;
  text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* width: 50%; */
  /* height: 50%; */
}

.explore-btn {
  background-color: #fff;
  display: flex;
  padding: 1.25rem 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 6.25rem;
  color: #3d4a7d;
  text-transform: uppercase;
  text-align: center;
  font-family: Happy Monkey;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01963rem;
}
.card-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4.38rem;
  justify-content: center;
  padding: 4.38rem;
  margin-top: 1.25rem;
}
.sqa-micro {
  padding: 1.95rem 6.25rem;
}
.sqa-micro h1 {
  color: #fff;
  text-align: center;
  font-family: Happy Monkey;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01963rem;
  margin-bottom: 0;
}
.sqa-micro p {
  color: #fff;
  text-align: center;
  font-family: Happy Monkey;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01963rem;
  margin-top: 0.62rem;
}
