.card-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4.38rem;
  justify-content: center;
  padding: 4.38rem;
  margin-top: 1.25rem;
}
.sqa-micro {
  padding: 1.95rem 6.25rem;
}
.sqa-micro h1 {
  color: #fff;
  text-align: center;
  font-family: Happy Monkey;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01963rem;
  margin-bottom: 0;
}
.sqa-micro p {
  color: #fff;
  text-align: center;
  font-family: Happy Monkey;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01963rem;
  margin-top: 0.62rem;
}
