<div class="mapMainContainer">
  <div class="buttonWrapper">
    <button (click)="updateGeoJsonId(this.COUNTRY_VIEW_ID)" class="backButton"
      >
      Back To Country View
    </button>
  </div>
  <div id = 'map' style="height: 800px;">
  <div id="geo" [style.height.px]="700"  #geoRef></div>
  </div>
  <!-- <div style="height: 300px;" leaflet [leafletOptions]="options">
  </div> -->
</div>

<!-- <section>
  <header>
    <span>Shikshagrah</span>
  </header>

  <div class="banner">
<div class="carousel">
  <div class='slide bg-fade slide-vis'>
  </div>
  <div class='slide bg-fade slide-vis'>
  </div>
  <div class='slide bg-fade slide-vis'>
  </div>
  <div class='slide bg-fade slide-vis'>
  </div>
  <div class='dots'>
    <div class='dot'></div>
    <div class='dot'></div>
    <div class='dot'></div>
    <div class='dot'></div>
  </div>
</div>
  </div>
</section> -->