::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}
.blog {
  display: flex;
  width: 21.875rem;
  height: 21.875rem;
  padding: 1.25rem 0.875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 0.9375rem;
  background-color: var(--light-gray);
  /* opacity: 60%; */
  border: 1px solid var(--blog-color);
}
.date {
  font-size: 1.2rem;
  color: var(--charcoal-gray);
  font-family: Happy Monkey;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
  font-weight: 400 !important;
  font-family: Happy Monkey;
}

.description {
  font-size: 1rem;
  overflow: scroll;
  color: var(--charcoal-gray);
  font-weight: 400 !important;
  font-family: Happy Monkey;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3125rem;
  margin-top: auto;
}
