@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.micro-parent {
  background: linear-gradient(
    to left,
    #37678d,
    #4f7c9b,
    #3d5173,
    #495372,
    #5e5e6f,
    #bca868
  );
  /* background-color: black; */
  /* height: 100vh; */
  background-blend-mode: color-dodge;
  /* background-image: url("/src/assets/images/Grain-Texture.png"); */
  font-family: "Happy Monkey", sans-serif;
}
.micro-parent h1 {
  color: var(--white-color);
  text-align: center;
  font-family: Happy Monkey;
  font-size: 3rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01963rem;
}
.micro-parent p {
  color: var(--white-color);
  text-align: center;
  font-family: Happy Monkey;
  font-size: 2rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01963rem;
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  body {
    width: 100vw;
  }
}

:root {
  --primary-color: #223ea0;
  --background-color: #010400;
  --accent-color: #ff603f;
  --normal-gray: #f2f3f3;
  --text-color: #3d4a7d;
  --white-color: #fff;
  --charcoal-gray: #888;
  --blog-color: #ccc;
  --tag-color: #edde5d;
  --light-gray: #d8d8d8;
}

.text-primary {
  color: var(--primary-color);
}

.tag {
  padding: 0.2rem 0.5rem;
  color: #252b42;
  font-family: Happy Monkey;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01963rem;
  border-radius: 3.125rem;
  background: var(--tag-color);
}
