@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  body {
    width: 100vw;
  }
}

:root {
  --primary-color: #223ea0;
  --background-color: #010400;
  --accent-color: #ff603f;
  --normal-gray: #f2f3f3;
  --text-color: #3d4a7d;
}

.text-primary {
  color: var(--primary-color);
}

.tag {
  padding: 0.2rem 0.5rem;
  color: #252b42;
  font-family: Happy Monkey;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01963rem;
  border-radius: 3.125rem;
  background: #edde5d;
}
