@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  body {
    width: 100vw;
  }
}

:root {
  --primary-color: #223ea0;
  --background-color: #010400;
  --accent-color: #ff603f;
  --normal-gray: #f2f3f3;
}
