.hero-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url("../../assets/images/amrit.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40rem;
  border-bottom: 6px solid var(--hero-border);
  margin-bottom: 3rem;
}
.desc {
  margin-top: 2rem;
  max-width: 28rem;
  /* text-align: justify; */
}

.custom-box-shadow {
  box-shadow: 0px 0px 15px 1px var(--blog-color);
}

.stat-card {
  width: 12rem;
  height: 12rem;
  padding: 2rem;
}

.stat-number {
  color: var(--accent-color);
  display: block;
  font-size: 2rem;
  font-weight: 600;
}

.stat-number span {
  font-size: 1.1rem;
  font-weight: 800;
}
.stat-text {
  color: var(--primary-color);
  font-weight: 600;
  text-align: center;
  font-size: 0.7rem;
}

@media only screen and (max-width: 700px) {
  .hero-section {
    background-size: contain;
    border-bottom: none;
  }
}
